
#header{
    color: $color__text-main;
    max-width:1400px;
    display: flex;
    align-items : center;
    justify-content: space-between;
    margin: 0 auto;

    @include rpsMobie{
        padding:0 12px;
        flex-wrap:wrap;
        border-bottom:1px solid rgba(34,34,34, 0.2);
    }
    @include rpsTablet{
        padding:0 12px;
        flex-wrap:wrap;
    }
    @include rpsPc{
        padding: 12px 36px;
        border:none;
    }
    .header__logo{
        order:1;
        @include rpsMobie{
            padding:6px 6px 6px 0px;
        }
        @include rpsTablet{
            padding:6px 6px 6px 0px;
        }
        @include rpsPc{
            padding:0px 6px 0px 0px;
        }
        &--link{
            display: block;
            span{
                svg{
                    height: 40px;
                    width:80px;
                    display: block;
                    fill: $color__logo;
                }
            }
        }
    }
    .header__form-search{
        display: flex;
        align-items : center;
        @include rpsMobie{
            order:3;
            flex-basis: 100%;
            margin-bottom:12px;
        }
        @include rpsTablet{
            order:3;
            flex-basis: 100%;
            margin-bottom:12px;
        }
        @include rpsPc{
            order:2;
            margin-bottom:0;
            flex:1;
            padding-right:18px;
        }
        .button-menu--mobile-tablet{
            padding:12px !important;
            margin-left:-12px;
            line-height: 1 !important;
            font-size: 16px;
            -webkit-tap-highlight-color: transparent;
            
            span{
                display: inline-block;
                fill: currentColor;
                vertical-align: middle;
                height:24px;
                width:24px;
            }
        }
        .button-menu--mobile-tablet{
            @include rpsMobie{
                display:inline-block;
            }
            @include rpsTablet{
                display:inline-block;
            }
            @include rpsPc{
                display:none;
            }
        }
        .wrapper__form-search{
            flex:1;
            margin-left:6px;

            form{
                &:hover input{
                    border-color: rgba(34, 34, 34, 0.5);
                }
                &:hover button{
                    border-color: rgba(34, 34, 34, 0.5);
                }
                display:flex;
                align-items:center;
                position:relative;
                background-color: rgba(34, 34, 34, 0.05);
                border-radius: 96px;
                box-shadow: 1px 2px 4px 0 rgba(34, 34, 34, 0.1) inset;
                input{
                    width:100%;
                    color: $color__text-main;
                    display: block;
                    font-family: inherit;
                    font-size: 16px;
                    line-height: 28px;
                    height: 48px;
                    outline: none;
                    padding-top: 9px;
                    padding-bottom: 9px;
                    border:1px solid rgba(34,34,34, 0.15);
                    padding-left: 18px;
                    border-top-left-radius: 96px;
                    border-bottom-left-radius: 96px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-right: 0;
                    box-shadow: none;
                    background: transparent;
                    flex: 1;
                    &:focus{
                        background-color: rgba(255,255,255,1);
                        border-color: rgba(34, 34, 34, 0.5);
                    }
                    &:focus ~ .header__button-search{
                        background-color:#222222;
                        span{
                            svg{
                                fill:#ffffff;
                            }
                        }
                    }
                    &::placeholder{
                        font-family: "GraphikLight";
                        font-size:1rem;
                    }
                }
                button{
                    background: none;
                    border: none solid transparent;
                    font: inherit;
                    cursor: pointer;
                    text-align: left;
                    outline: none;
                    text-decoration: none;
                    -webkit-tap-highlight-color: transparent;
                    -webkit-appearance: none;
                    position: relative;
                    padding: 12px 21px 12px 15px;
                    height: 48px;
                    color: $color__text-main;
                    font-weight: bold;
                    font-size: 16px;
                    white-space: nowrap;
                    z-index: 10;
                    transition: all 200ms ease-out;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    border-top-right-radius: 96px;
                    border-bottom-right-radius: 96px;
                    border: 1px solid rgba(34, 34, 34, 0.15);
                    border-left: 0;
                    span{
                        svg{
                            height: 24px;
                            width:24px;
                        }
                    }
                }

            }
        }
    }
    .header__button-control{
        @include rpsMobie{
            order:2;
        }
        @include rpsTablet{
            order:2;
        }
        @include rpsPc{
            order:3;
        }
        ul{
            font-size: 0.8125rem ;
            .button-control--sign-in{
                a{
                    color: inherit;
                    margin-right:6px;
                }
            }
            .button-control--cart{
                a{
                    color: inherit;
                    padding:12px;
                    span {
                        svg{
                            height: 24px;
                            width:24px;
                            fill: currentColor;
                        }
                    }                
                }
            }
            .button-control--login{
                a{
                    display: inline-flex;
                    align-items : center;
                    text-decoration: none;
                    color:inherit;
                    font-size: 0.8125rem;
                    line-height: 1.4;
                    button{
                        min-height: 36px;
                        min-width: 36px;
                        padding:9px 15px;
                    }
                }
            }
        }
    }
}