@import "../../2-helpers/2-helpers";
@import "../../3-base/3-base";

@import "../../4-layout/header";
@import "../../4-layout/footer";

@import "../../5-modules/menu-header";
@import "../../5-modules/box-search-suggestions";
@import "../../5-modules/search-filter";
@import "../../5-modules/box-sort-filter";
@import "../../5-modules/product";
@import "../../5-modules/pagination";

#search-content{
    width:100%;
    max-width: 1400px;
    margin:0 auto;
    @include rpsMobie{
        padding:0 6px;
    }
    @include rpsPc{
        padding: 0;
    }
    .search-content-wrapper{
        margin-top:18px;
        @include rpsMobie{
            padding:0 6px;
        }
        @include rpsTablet{
            padding:0 18px;
        }
        .search-content__control{
            display: flex;
            justify-content:space-between;
            align-items: center;
            margin-top:6px;
            margin-bottom:12px;
            .content__control-left{
                .btn__all-filter{
                    .all-filter__icon{
                        width:18px;
                        height: 18px;
                        display:inline-block;
                        margin-right:4px;
                    }
                }
            }
            .content__control-right{
                display: flex;
                align-items: center;
                font-family: "GraphikLight";
                @include text__title(13);
                .control-right-first{
                    display: flex;
                    align-items: center;
                    .right-first--text{
                        display: flex;
                        align-items: center;
                        padding-left:2px;
                        line-height:18px;
                        .right-first--icon{
                            width:18px;
                            height: 18px;
                            padding-left:2px;
                            margin-bottom:2px;
                        }
                    }
                }
                .control-right-secondary{
                    padding-left:8px;
                    &__btn{
                   
                        .btn__icon-secondary{
                            width:18px;
                            height: 18px;
                            display: inline-block;
                            vertical-align: middle;
                        }

                    }

                }
                .control-right-third{
                    padding-left:6px;
                    position: relative;
                    &__btn{
                        .btn__icon-third{
                            width:18px;
                            height: 18px;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                    .box-sort-filter{
                        display: none;
                    }
                    &__btn.active{
                        z-index: 80;
                        border:none;
                        &::after{
                            display:none;
                        }
                        .btn__icon-third{
                            display:none;
                        }
                    }
                    &__btn.active ~ .box-sort-filter{
                        display: block;
                    }
                }
            }
        }
        // .search-content__main{

        // }
        // .search-content__pagination{
        //     margin-top:18px;
        //     margin-bottom:30px;
        //     h2{
        //         margin-bottom:24px;
        //     }
        // }
    }
}

#modal-container{
    display:none;
    .modal-fade{
        position:fixed;
        top:0;
        right:0;
        bottom:0;
        left:0;
        display: block;
        background-color:rgba(34,34,34, 0.65);
        z-index: 100;
    }
    .box-filter-products{
        position:fixed;
        top:0;
        left:0;
        width:480px;
        height:100vh;
        display:flex;
        flex-direction:column;
        align-content: space-between;
        background-color:#fff;
        z-index: 110;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .box-search-filter{            
        padding:30px 30px 90px 30px;
        .box-search-filter__heading{
            padding-bottom:24px;
            h1{
                padding-left:24px;
                font-size:32px;
                line-height:36px;
                font-weight: 400;
                font-family: $font-family-main;
                letter-spacing: 0.5px;
            }
        }
    }
    .box-search-filter__btn-bottom{
        width:100%;
        max-width: 480px;
        position:fixed;
        bottom:0;
        left:0;
        display: flex;
        align-items: center;
        border-top:1px solid rgba(34, 34, 34, 0.15);
        background-color:rgba(255, 255, 255, 1);        
        .btn-bottom--cancel{
            flex:1;
            margin:18px 6px 18px 18px;

        }
        .btn-bottom--apply{
            flex:1;
            color:#fff;
            margin:18px 18px 18px 6px;
        }
    }
    .btn-close_box-search-filter{
        position:fixed;
        padding:6px;           
        background-color:rgba(34,34,34, 0.15);
        border-radius: 24px;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        min-width: 48px;
        min-height: 48px;
        z-index: 1000;
        @include rpsMobie{
            top:20px;
            left:420px;
            color:#222222;
        }
        @include rpsTablet{
            top:20px;
            left:500px;
            color:#ffffff;
        }
        &:hover{
            background-color:rgba(34,34,34, 0.35);
        }
        span{
            svg{
                width:24px;
                height: 24px;
                fill:currentColor;
            }
        }
    }
}

