@import "../../2-helpers/2-helpers";
@import "../../3-base/3-base";
@import "../../4-layout/header";
@import "../../4-layout/footer";

@import "../../5-modules/menu-header";
@import "../../5-modules/box-search-suggestions";
@import "../../5-modules/box-sort-filter";
@import "../../5-modules/search-filter";
@import "../../5-modules/product";
@import "../../5-modules/pagination";
@import "../../5-modules/breadcrumb";

#category-content{
    max-width:1400px;
    margin:0 auto;
    @include rpsMobie{
        padding:0 6px;
    }
    @include rpsTablet{
        padding:0;
    }
    // style custom-filter trong sidebar-search
    .custom-filter__main-item{
        max-width: 60% !important;
    }
    .category-content__breadcrumb{
        margin-top:12px;
        @include rpsMobie{
            padding:0 6px;
        }
        @include rpsTablet{
            padding:0 36px;
        }
    }
    .category-content__top{
        display:flex;
        align-items: center;
        justify-content:space-between;
        flex-wrap: wrap;
        width:100%;
        @include rpsMobie{
            padding:24px 6px 0;
        }
        @include rpsTablet{
            padding:24px 36px 0;
        }
        .box-heading-top{
            h1{
                font-weight:500;
                font-family: $font-family-sub;
                line-height:1.2;
                @include rpsMobie{
                    font-size:1rem;
                }
                @include rpsTablet{
                    font-size:1.5rem;
                }
            }
        }
        .sort-filter{
            position: relative;
            @include rpsPc{
                margin-right:-18px;
            }
            .sort-filter__btn{
                font-size: 13px;
                justify-content: space-between;
                .sort-filter__btn-icon{
                    svg{
                        width:24px;
                        height:24px;
                    }
                }
            }
            .box-sort-filter{
                display: none;
            }
            .sort-filter__btn.active{
                z-index: 80;
                opacity:0;
            }
            .sort-filter__btn.active ~ .box-sort-filter{
                display: block;
            }
        }
    }
    .category-content__main{
        margin-top:12px;

        .sidebar-left{
            &__wrapper{
                padding:0 18px;
            }
        }

        .content-main__box-products{
            @include rpsMobie{
                padding:0 6px;
            }
            @include rpsPc{
                padding:0 36px 0 18px;
            }
            .box-products-category{
                .category-item{
                    margin-bottom:16px;
                    border:1px solid rgba(34, 34,34,  0.33);
                    border-radius: 3px;
                    .category-item__top{
                        .category-item__top-link{
                            display:block;
                            text-decoration: none;
                            color:#222222;
                            .category-item__top--img{
                                border:1px solid rgba(34,34,34, 0.15);
                                img{
                                    width:100%;
                                    height: auto;
                                    object-fit: cover;
                                }
                                &:hover img{
                                    opacity:0.9;
                                }
                                &:hover{
                                    box-shadow: $box-shadow-product-hover;
                                    transition: all 0.3s ease-in;
                                }
                            }
                            .category-item__top--text{
                                .top--text-heading{
                                    margin-top:12px;
                                    font-size:11px;
                                    font-weight: 400;
                                    font-family: "GraphikLight",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
                                }
                                padding:0 18px;
                                h3{
                                    height: 19px;
                                    overflow: hidden;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;
                                    display: -webkit-box;
                                    margin-top:18px;
                                    margin-bottom:12px;
                                    font-size:18px;
                                    line-height:1.2;
                                    word-wrap: break-word;
                                    font-size:18px;
                                    font-family: "GraphikLight",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
                                    font-weight: 500;
                                }
                            }
                        }
                        &:hover .category-item__top--text h3{
                            text-decoration: underline;
                        }         
                    }
                    .category-item__bottom{
                        .category-item__bottom-list{
                            padding:12px 12px 6px 6px;
                            height: 110px;
                            list-style: none;
                            overflow-y:scroll;
                            li{
                                
                                >a{
                                    padding-left:12px;
                                    padding-bottom:6px;
                                    display: block;
                                    text-decoration: none;
                                    color:#222222;
                                    font-size:14px;
                                    line-height:1.4;
                                    font-family: "GraphikLight",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
                                    font-weight: 300;
                                    &:hover{
                                        text-decoration:underline;
                                    }
                                }
                            }
                        }
                        .category-item__bottom-link{
                            margin:18px 18px 24px 18px;
                            height: 19px;
                            display: block;
                            font-size:14px;
                            line-height:1.4;
                            font-family: "GraphikLight",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
                            font-weight: 500;
                            color:#222222;
                            text-decoration: none;
                            overflow: hidden;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            display: -webkit-box;
                            &:hover{
                                text-decoration:underline;
                            }
                        }
                    }
                }
            }
            .box-products-detail{
                margin-top:16px;
            }
        }
    }
}
